<div class="footer reveal">
    <div class="copyright"> ©
        <script>document.write(new Date().getFullYear())</script> all rights reserved.
    </div>
    <div class="email">email:<span class="mailid">hardcodedofficial@gmail.com</span>
    </div>
</div>