<nav>
    <div class="hardcoded">
        <span class="logo">hard</span><span class="logo coded">coded</span>
    </div>
    <div class="openmenu" onclick="openmenu()">
        <span class="material-symbols-outlined">
            menu
        </span>
    </div>
    <div class="closemenu" onclick="closemenu()">
        <span class="material-symbols-outlined">
            close
            </span>
    </div>
    <div class="navbar" id="navbarid">

        <div class="anavdiv "><a class="navanchor" href="/">
                home
            </a>
        </div>
        <div class="anavdiv"> <a class="navanchor" href="#">
                project
            </a>
        </div>
        <div class="anavdiv"> <a class="navanchor" href="/blog">
                blog
            </a>
        </div>
        <div class="anavdiv"><a class="navanchor" href="#">
                store
            </a>
        </div>
        <div class="anavdiv"> <a class="navanchor" href="#">
                about
            </a>
        </div>

    </div>
</nav>